/*!
 * Start Bootstrap - One Page Wonder v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */


.house_bg {
background: url(//www.metromilwaukeehomebuyer.com/wp-content/uploads/home.png);
}
.map_bg {
background: url(//www.metromilwaukeehomebuyer.com/wp-content/uploads/milwaukee-satellite.jpg);
}
.services_bg {
background: url(//www.metromilwaukeehomebuyer.com/wp-content/uploads/paperwork.jpg);
}
.how_bg {
background: url(//www.metromilwaukeehomebuyer.com/wp-content/uploads/gears.jpg); 
}

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 600 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

 #Intro {
     top: 0;
     position: fixed;
     background-color: #fff;
     height: 40px;
     width: 100%;
     z-index: 1030;

  }

.fixed-top-sticky {
  top: 34px !important;
}

.navbar {
    padding-bottom:0rem !important;
    padding-top:0rem !important;
}

.navbar-custom {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(255, 194, 63);

}

.navbar-custom .navbar-brand {
  /*text-transform: uppercase;*/
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  /*text-transform: uppercase;*/
  margin: 0 6px;
  font: normal normal normal 17px / 21px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  /*font-weight: 700;*/
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 1) !important;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    /*height: auto;*/
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 12px);
  padding-bottom: 7rem;
  /*background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);*/
  /*background: url(//www.metromilwaukeehomebuyer.com/wp-content/uploads/home.png);*/
  padding: 95px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: fixed;
}


header.masthead .masthead-content {
  z-index: 1;
  position: relative;
  margin-top: 4%;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  /*background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);*/
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}
.big_font {
font-size:20px;
line-height:26px;
}
.medeuim_font {
font-size:18px;
line-height:18px;
}

@media (min-width: 992px) {
  header.masthead {
    /*padding-top: calc(10rem + 1px);*/
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
.bg__blk{background-color:rgba(25, 24, 24, 0.5);}
.bg__org{background-color:rgba(216, 166, 88, 0.5);}


.recent_post:hover {
        border: 1px solid #edb12f;
        overflow: hidden;        
    }
.change_yellow:hover {
    color: #edb12f;
}

.pull-left{
  text-align: left;
}
.pull-right{
  text-align: right;
}
.pull-center{
  text-align: center;
}

.percent5width{
width: 5%;
}

.percent20width{
width: 80%;
}

.percent100width{
width: 100%;
}
.toppaddingL{
  padding-top: 7%;
}
.semitoppadding{
  padding-top: 3%;
}
.toppadding{
  padding-top: 5%;
}
.semitoppadding{
  padding-top: 3%;
}
.bottompadding{
  padding-bottom: 5%;
}

.simesidepadding{
  padding-right: 3%;
  padding-left: 3%;
}
.sidepadding{
  padding-right: 10%;
  padding-left: 10%;
}
.sidepaddingXL{
  padding-right: 10%;
  padding-left: 10%;
}


/*margings*/
.topmargin{
  margin-top: 5%;
}
.leftmargin{
  margin-left: 2%;
}
.leftmarginxl{
  margin-left: 9% !important;
}
.rightmarginxl{
  margin-right: 9% !important;
}
/*Wrappers*/
.wrapper-gray{
  background: #f4f4f4;
}
.wrapper-blue{
  background: #75cdff;
}

/*p*/
p.small {
    line-height: 90%;
}

p.big {
    line-height: 220%;
}

/*colors text*/
.orage__text{
  color: #e2422d;
}

/*grid-border*/
.grid__border{
border: 1px solid #e1e1e1;
}
/*footer*/
.solid-bg {
background: #f6f6f6 url(//www.metromilwaukeehomebuyer.com/wp-content/uploads/soil.jpg) repeat center top;

}


/*border*/
.consult_input {
  width: 100% !important;
  border: 0 !important;
  border-radius: 0px !important;
  float: left;
  margin-left: 15px;
  color:#555;
  margin-bottom: 15px !important;
}

#footer.transparent-bg {
background-color: rgba(255,255,255,0.08);
}

/*fonts*/
h1.title{
  /*font: normal normal bold 28px / 38px "Open Sans", Helvetica, Arial, Verdana, sans-serif;*/
  font-size: 40px;
}

.why_us_button {
background: #fcb827;
color: #fff;
font-weight: 600;
text-decoration: none;
text-align: center;
text-transform: uppercase;
padding: 11px 60px;
font-size: 24px;
}

select.classic {
  background-color: white;
  border:2px solid #fcb827;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:url('../img/arrow_down.png');
   background-repeat: no-repeat;
  max-width:300px;
  width:100%;
  color:#333333;
  background-position: right;
}

select.classic:focus {
    outline: 0;
}


/*about us comtime css*/
.home_consult_form {
width:100%;
border:solid 2px #fcb827;
border-radius:5px;
padding:5px;
}

.cta_button {
cursor:pointer !important;
cursor:hand !important;
background-color:#1DC924 !important;
color:#fff !important;
font-weight:bold !important;
font-size:22px !important;
border-radius:3px !important;
margin-bottom:14px !important;
margin-top:30px;
padding: 15px !important;
width: 100% !important;
text-transform: uppercase !important;
}

.aboutus_title{
  font-weight: 600 !important;
  line-height: 1.1;
  font-size: 72px;
}

.contact-form-container
{ width: 100%;
  border-radius: 0;
  border: 1px solid rgb(206, 206, 206);
  padding:5px 10px;}

.contact-form-container-submit
{
background: #fcb827 none repeat scroll 0 0;
border: medium none;
color: #fff;
font-size: 18px;
font-weight: bold;
padding: 5px;
width: 130px;
}

.solidbg{background: #22343d;}
.topbarbg{background: #eee735;}
.topbarbg{background: rgba(252, 184, 39, 0.5)}
.text_white{color: white !important;}
.text_black{color: black !important;}



.container-circle
{
    height:40px;
    width:40px;
    border:1px black solid;
}

.inner-circle
{
    height:20px;
    width:20px;
    background:black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left:25%;
    margin-top:25%;
}


.truncate {
  position: relative;
  height: 3.6em;
  text-overflow: -o-ellipsis-lastline;
}

.yellowshi_textcolor{
color: #edb12f;
}
.yellowshi_backgcolor{
background: #fcb827;
}

.home_first_content{
background: #F4B954;
color: #555;
width: 17px;
height: 17px;
text-align: center;
border-radius: 50%;
line-height: 17px;
margin-right: 10px;
font-size: 15px;
}

@media only screen and (max-width: 768px) and (min-width: 400px)  {
.why_us_button {
background: #fcb827;
color: #fff;
font-weight: 300;
text-decoration: none;
text-align: center;
text-transform: uppercase;
padding: 5px 20px;
font-size: 14px;
}

}

@media only screen and (max-width: 768px) {
  .social_media{
    display: none;
  }
}